body
{
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    text-align: center;
}
h3
{
    font-size: 52px;
    text-align: center;
}
h4
{
    text-align: center;
    font-size: 36px;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: auto;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.parallax
{
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 4;
}
.parallax1 
{
    /* The image used */
    background-image: url("/img/friends.jpg");
}
.parallax2
{
    /* The image used */
    background-image: url("/img/valve.jpg");
}
.parallax3
{
    /* The image used */
    background-image: url("/img/code.jpeg");
}
.grid-container-navbar 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . . .";
} 

.grid-container 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
}
#home
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
}
#prevWork
{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
#cv
{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
}
#links
{
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 5;
}
#contact
{
    text-align: center;
    grid-column-start: 5;
    grid-column-end: 6;
}
#navbar
{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}
#face
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 150px;
    height: auto
}

.grid-text 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . .";
}

.text
{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 24px;
}

.button 
{
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #444;
    border-radius: 4px;
    border: 3px solid rgba(70.96774193548386%,52.386021505376334%,49.931832014607416%,0);
    border-width: 3px 3px 3px 3px;
    padding: 5px 20px 5px 20px;
    color: #fff;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
    margin-left: 5px;
    margin-right: 5px;
}

.button > div 
{
    color: #ddd;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 0px 0px
}

.button > i 
{
    font-size: 1em;
    border-radius: 4px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: static
}
.button > .ld 
{
    font-size: initial
}